<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.transistorsoft.fetch</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>23F79</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Shop (Minis)</string>
	<key>CFBundleExecutable</key>
	<string>Shop</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIconMinisPartner60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIconMinisPartner</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIconMinisPartner60x60</string>
				<string>AppIconMinisPartner76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIconMinisPartner</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.shopifyinternal.arrive</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>fr</string>
		<string>de</string>
	</array>
	<key>CFBundleName</key>
	<string>Shop</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.208.0-minis-partner+103029</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneSimulator</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.318569518246-8u1fprajrt7tv7b05f3moq6s16sdehov</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>arrive</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>arrive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>shopapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shopapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>103029</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>22A3362</string>
	<key>DTPlatformName</key>
	<string>iphonesimulator</string>
	<key>DTPlatformVersion</key>
	<string>18.0</string>
	<key>DTSDKBuild</key>
	<string>22A3362</string>
	<key>DTSDKName</key>
	<string>iphonesimulator18.0</string>
	<key>DTXcode</key>
	<string>1600</string>
	<key>DTXcodeBuild</key>
	<string>16A242d</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>a4d9811a706978347e53a580675f4656ae33c600</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FirebaseAppCheckTokenAutoRefreshEnabled</key>
	<false/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<false/>
	<key>FirebaseDataCollectionDefaultEnabled</key>
	<false/>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_PERSONALIZATION_SIGNALS</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>whatsapp</string>
		<string>twitter</string>
		<string>instagram-stories</string>
		<string>instagram</string>
		<string>mailto</string>
		<string>message</string>
		<string>googlegmail</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ymail</string>
		<string>ms-outlook</string>
		<string>inbox-gmail</string>
		<string>twitter</string>
		<string>yandexmail</string>
		<string>fastmail</string>
		<string>protonmail</string>
		<string>ledgerlive</string>
		<string>comgooglemaps</string>
		<string>waze</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>15.1</string>
	<key>NATIVE_FINGERPRINT</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Shop uses your camera when adding credit cards, taking profile photos, uploading selfies, or viewing products in AR.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to securely sign in to your account and authenticate with Passkeys.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Shop requires local network access during development.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Sharing your location will allow Shop to show you location specific products and features.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Shop needs your location to show you location specific products and features.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Shop needs access to your microphone for video recording.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Shop needs access to your photo library to upload images to your profile.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Shopify Sans-Black Italic.otf</string>
		<string>Shopify Sans-Black.otf</string>
		<string>Shopify Sans-Bold Italic.otf</string>
		<string>Shopify Sans-Bold.otf</string>
		<string>Shopify Sans-Light Italic.otf</string>
		<string>Shopify Sans-Light.otf</string>
		<string>Shopify Sans-Medium Italic.otf</string>
		<string>Shopify Sans-Medium.otf</string>
		<string>Shopify Sans-Regular Italic.otf</string>
		<string>Shopify Sans-Regular.otf</string>
		<string>GTWalsheim-Bold.otf</string>
		<string>GTWalsheim-Medium.otf</string>
		<string>GoodSans-Bold.otf</string>
		<string>GoodSans-Medium.otf</string>
		<string>GoodSans-Regular.otf</string>
		<string>GoodSansText-Bold.otf</string>
		<string>GoodSansText-Medium.otf</string>
		<string>GoodSansText-Regular.otf</string>
		<string>SuisseIntl-Book.otf</string>
		<string>SuisseIntl-Medium.otf</string>
		<string>SuisseIntl-Regular.otf</string>
		<string>SuisseIntl-SemiBold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>10d50058dea00d882cfa706bf802bee6</string>
	</dict>
	<key>firebase_json_raw</key>
	<string>eyJhcHBfY2hlY2tfdG9rZW5fYXV0b19yZWZyZXNoIjogZmFsc2UsICJhcHBfZGF0YV9jb2xsZWN0aW9uX2RlZmF1bHRfZW5hYmxlZCI6IGZhbHNlLCAiYW5hbHl0aWNzX2F1dG9fY29sbGVjdGlvbl9lbmFibGVkIjogZmFsc2UsICJhbmFseXRpY3NfZGVmYXVsdF9hbGxvd19hZF9wZXJzb25hbGl6YXRpb25fc2lnbmFscyI6IGZhbHNlfQ==</string>
</dict>
</plist>
